

.flex-container {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    align-content: flex-start;
}

.step-label {
    flex: 10%;
    text-align: center;
    position:relative;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-item {
        flex: 95%;
    }
    .step-label {
        display: none;
    }
}
