<div style="text-align: center;max-width: 600px;display: inline-block;">

		<img [src]="photo" class="image-cropper" style="margin: 30px">

		<div class="mat-display-2">
			{{firstname}}<br>{{lastname}}
		</div>
		<div style="height:100px;">
			<ng-content ></ng-content>
		</div>

		<hr class="color-accent" style="width: 30%;">
		<br>
		<div style="height: 100px;width: 80%;display:inline-block;margin-top: 15px;font-variant-caps: all-petite-caps" class="mat-subheading-2">
			{{refs}}
		</div>

		<br><br>
		<a *ngIf="linkedin.length>0" [href]="linkedin" target="linkedin">
			<img src="assets/linkedin-brands.svg" style="width: 30px;" class="colorize-primary">
		</a>

</div>


